
                #HeaderDiv a.navbar-brand
	            {
	                margin:0px;
	                padding:0px;
	                
	            }
	            nav.navbar
	            {
	                 z-index:1000;
	                 height:90px;
	                 background-color:#ffffff;
	                 box-shadow:0px 0px 15px Gray;
	            }
	            button.navbar-toggle
	            {
	                border:1px solid #000000;    
	            }
	            span.icon-bar
	            {
	                background-color:#ff0000;    
	            }
	            #navbarCollapse li
	            {
	                transition:1s;
	            }
	            #navbarCollapse li b
	            {
	                color:#000000;
	                font-size:16px;
	                transition:1s;
	                font-family:Bahnschrift;
	            }
	            #navbarCollapse li b span
	            {
	                color:#FF0000;
	                transition:1s; 
	                font-size:16px;
	                font-family:Bahnschrift;
	            }
	            #navbarCollapse li.dropdown
	            {
	                box-shadow:0px 0px 7px #000000;
	                margin-right:10px;
	            }
	            #navbarCollapse li:hover
	            {
	                box-shadow:0px 0px 7px #ff0000;
	                border-radius:20px;
	            }
	            #navbarCollapse li:hover b
	            {
	                color:#ff0000;
	            }
	            #navbarCollapse li:hover b span
	            {
	                color:#000000;
	            }
	            #navbarCollapse li:hover a
	            {
	                background-color:transparent;
	            }       
	            #navbarCollapse li:hover b
	            {
	                color:#ff0000;
	            }
	            ul.nav
	            {
	                font-size:13px;
	                padding-right:15px;
	                padding-top:20px;
	            }
	            ul.dropdown-menu
	            {
	                width:210px;
	            }
	            ul.dropdown-menu li
	            {
	                width:210px;
	                padding:10px;
	            }
	            #navbarCollapse ul.dropdown-menu li:hover
	            {
	                box-shadow:0px 0px 0px #ffffff;
	            }
	            a.navbar-brand img
	            {
	                margin:5px 10px 0px 15px;
	                height:80px;
	                width:150px;
	                
	            }
	            .MyUL{line-height:3;list-style-type:none;width:auto;}
	            ul.MyUL li{font-size:28px;font-family:Trebuchet MS;}
	            ul.MyUL li b{color:Red;text-shadow:0px 0px 4px #000000;font-size:32px;}
                .fullscreen_bg 
                {
                    position:absolute;
                    top:-5%;
                    right: 0;
                    bottom: 0;
                    left: -20%;
                    overflow:hidden;
                    z-index:-1;
                    min-height:900px;
                }

                .fullscreen_bg_video 
                {
                    position:absolute;
                    width: auto;
                    height: auto;
                    min-width: 100%;
	                min-height: 100%;
	            }
	            small
	            {
	                font-size:12px;
	                color:Red;
	            }
	            .Header2{color:Red;text-shadow:0px 0px 10px #000000;font-family:Trebuchet MS;}
	            #Home
	            {
	                padding-bottom:40px;
	                color:#000000;
	                font-size:18px;
	            }
	            
	            #HomeRow
	            {
	                margin:0px;
	                padding-top:7%; 
	                z-index:1;  
	                min-height:650px;
	            }
	            #HomeRow a i.fa
	            {
	                color:#ffffff;
	            }
	            
	            #HomeRow div.col-lg-offset-1
	            {
	                background:rgba(255,255,255,0.4); 
	                padding-bottom:50px;
	                border-radius:2px;
	                margin-top:60px;
	                box-shadow:0px 0px 5px #000000; 
	                text-align:justify;  
	                height:auto;
	            }
	            #HomeRow #BtnKnowMore
	            {
	                color:#000000;
	                border:1px solid #ff0000;
	                border-radius:20px;
	                padding:8px 15px;
	                transition:1s;
	            }
	            #HomeRow #BtnKnowMore i.fa
	            {
	                color:#ff0000;    
	                transition:2s;
	            }
	            #HomeRow #BtnKnowMore:hover
	            {
	                border:1px solid #000000;
	                box-shadow:0px 0px 8px #000000;
	                color:#ff0000;
	                cursor:pointer;
	                text-decoration:none;
	            }
                #HomeRow #BtnKnowMore:hover i.fa
	            {
	                color:#000000;    
	            }
	            #HomeRow center b
	            {
	                font-family:Monotype Corsiva;
	                font-size:24px;
	                color:#222222;
	                text-shadow:0px 0px 2px Gray;
	            }
	            #HomeRow p span,.MyParaSpan
	            {
	                font-size:28px;
	                color:Red;
	                font-family:Trebuchet MS;
	            }
	            #HomeRow h1
	            {
	                font-family:Monotype Corsiva;
	            }
	            #HomeRow h1 span
	            {
	                color:#ff0000;
	            }
	            #HomeRow dl dt
	            {
	                color:#000000;
	                font-size:22px;
	                font-family:Courier;
	            }	
	            #HomeRow dl dt b, i b
	            {
	                color:#ff0000;
	            }	            
	            #HomeRow dl dd
	            {
	                margin-bottom:15px;
	                color:Gray;
	                font-weight:normal;
	                font-size:16px;
	                font-family:Trebuchet MS;
	            }
	            #AboutUs
	            {
	                background-image:url('../Images/AboutOurProduct.jpg');
	            }
	            #ContactUs
	            {
	                background-image:url('../Images/ContactUs.jpg');
	            }
	            #OurServices
	            {
	                background-image:url('../Images/OurServices.jpg');
	            }
	            #JoinUs
	            {
	                background-image:url('../Images/JoinUs.jpg');
	            }
	            #Footer
	            {
	                background-image:url('../Images/FooterImg.jpg');
	            }
	            #AboutUs,#ContactUs,#OurServices,#Footer,#JoinUs
	            {
	                height:auto;
	                color:#000000;
	                background-attachment:fixed;
	                background-position: center; 
	                background-repeat:no-repeat;
	                background-size:cover;
	                font-size:20px;
	                margin:0px;
	                padding:0px;
	                line-height:1.5;
	            }
	            #AboutUsRow
	            {
	                margin:0px;
	                padding-top:8%;
	                padding-bottom:7%;
	                background:rgba(255,255,255,0.8);
	            }
	            #AboutUsRow div.col-lg-4
	            {
	                margin-top:60px;
	            }
	            #AboutUsRow i.fa
	            {
	                padding:15px;
	                border:3px solid #ff0000;
	                border-radius:50%;
	                transition:1s;
	            }
	            #AboutUsRow div.col-lg-4:hover i.fa
	            {
	                transform: rotate3d(0, 1, 0, 180deg);
	                -webkit-transform: rotate3d(0, 1, 0, 180deg);
	                -ms-transform: rotate3d(0, 1, 0, 180deg);
	                -moz-transform: rotate3d(0, 1, 0, 180deg);
	                -o-transform: rotate3d(0, 1, 0, 180deg);
	            }
	            #AboutUs h1,#ContactUs h1,#OurServicesRow h1,#JoinUsRow h2,#JoinUsRow h1,#TeamRow h1,#UREF h1
	            {
	                font-family:Monotype Corsiva;
	            }
	            #AboutUs h1 b,#ContactUsRow b,#ContactUsRow2 h1 b,#OurServicesRow h1 b,#JoinUsRow h1 b,#TeamRow h1 b,#UREF h1 b
	            {
	                font-size:75px;
	                color:#ff0000;
	            }
	            #JoinUsRow h2 b
	            {
	                font-size:54px;
	                color:#ff0000;
	            }
	            #AboutUs h1 span,#ContactUs h1 span,#OurServicesRow h1 span,#JoinUsRow h2 span
	            {
	              font-size:54px;
	              color:#ff0000;
	            }
	            .MyPara
	            {
	                text-align:justify;
                    font-family:Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	            }
	            #ContactUsRow
	            {
	                margin:0px;
	                padding-top:8%;
	                background:rgba(255,255,255,0.8);
	            }
	            #ContactUsRow2
	            {
	                padding-bottom:7%;
	                background:rgba(255,255,255,0.8);
	            }
	            #ContactUsRow2 span,#JoinUsRow span
	            {
	                font-family:Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	            }
	            #ContactUsRow2 span b,#JoinUsRow span b
	            {
	                color:#ff0000;
	            }
	            #ContactUsRow2 input,#ContactUsRow2 textarea
	            {
	              width:100%;
                  border: 0;
                  outline: 0;
                  background: transparent;
                  border-bottom: 1px solid #DCDCDC;
                }
                #JoinUsRow input
                {
	              width:100%;
                  border: 0;
                  outline: 0;
                  background: transparent;
                  border-bottom: 1px solid #A9A9A9;
                }
                #ContactUsRow2 input:focus,#ContactUsRow2 textarea:focus,#JoinUsRow input:focus
	            {
	              border-bottom: 1px solid #000000;
                }
                #ContactUsRow2::placeholder,#JoinUsRow::placeholder {
                    font-size:16px;
                }

                :-ms-input-placeholder { /* Internet Explorer 10-11 */
                   font-size:16px;
                }

                ::-ms-input-placeholder { /* Microsoft Edge */
                   font-size:16px;
                }
                #ContactUsRow2 input,#JoinUsRow input
                {
                    font-size:16px;
                    font-family:Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
                }
	            #ContactUsRow div.col-lg-4 i.fa,#ContactUsRow div.col-lg-3 i.fa,#JoinUsRow div.col-lg-5 i.fa
	            {
	                color:#ff0000;
	            }
	            #ContactUsRow div.col-lg-4 a,#ContactUsRow div.col-sm-2 a
	            {
	                color:#000000;  
	            }
	            #ContactUsRow address
	            {
	                padding-top:0px;
	                margin-top:0px;
	                font-family:Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	            }
	            #BtnContactMessage
	            {
	                width:100%;
	                box-shadow:0px 0px 10px #ff0000;
	                background-color:#ffffff;
	                color:#000000;
	                transition:1s;
	                padding:10px;
	                font-family:Monotype Corsiva;
	                border-radius:20px;
	            }
	            #BtnSignIn,#BtnSignUp,#BtnForgotPassword
	            {
	                width:100%;
	                box-shadow:0px 0px 10px #ff0000;
	                background-color:#ffffff;
	                color:#000000;
	                transition:1s;
	                padding:10px;
	                font-size:38px;
	                font-family:Monotype Corsiva;
	                border-radius:20px;
	            }
	            #BtnSignInFromTop
	            {
	                width:100%;
	                box-shadow:0px 0px 10px #ff0000;
	                background-color:#ffffff;
	                color:#000000;
	                transition:1s;
	                padding:5px;
	                font-size:18px;
	                font-family:Monotype Corsiva;
	                border-radius:10px;
	            }
	            #BtnContactMessage:hover,#BtnSignIn:hover,#BtnSignUp:hover,#BtnForgotPassword:hover,#BtnSignInFromTop:hover
	            {
	                box-shadow:0px 0px 10px #000000;
	                color:#ff0000;
	                text-decoration:none;
	                cursor:pointer;
	            }
	            .TermsDiv
	            {
	                font-size:16px;
	                font-family:Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	            }
	            #OurServicesRow
	            {
	                margin:0px;
	                padding-top:8%;
	                background:rgba(255,255,255,0.8);
	            }
	            #OurServicesRow i.fa
	            {
	                text-shadow:0px 0px 2px Red;
	                transition:1s;
	            }
	            #OurServicesRow div.col-lg-3:hover i.fa
	            {
	                transform: scale(1.5);
	                -webkit-transform: scale(1.5);
	                -ms-transform: scale(1.5);
	                -moz-transform: scale(1.5);
	                -o-transform: scale(1.5);
	            }
	            #OurServicesRow2
	            {
	                padding-top:4%;
	                padding-bottom:7%;
	                background:rgba(255,255,255,0.8);
	            }
	            #OurServicesRow2 span
	            {
	                font-family:Monotype Corsiva;
	                color:#ff0000;
	                font-size:36px;
	            }
	            #OurServicesRow2 i.fa
	            {
	                color:#ff0000;
	                transition:2s;
	            }
	            #OurServicesRow2 div.col-lg-4:hover i.fa
	            {
	                transform: rotate3d(0, 1, 0, 360deg);
	                -webkit-transform: rotate3d(0, 1, 0, 360deg);
	                -ms-transform: rotate3d(0, 1, 0, 360deg);
	                -moz-transform: rotate3d(0, 1, 0, 360deg);
	                -o-transform: rotate3d(0, 1, 0, 360deg);
	            }
	            #JoinUsRow
	            {
	                margin:0px;
	                padding-top:8%;
	                padding-bottom:7%;
	                background:rgba(255,255,255,0.8);
	                min-height:100vh;
	            }
	            #FooterRow
	            {
	                margin:0px;
	                padding-top:7%;
	                padding-bottom:7%;
	                background:rgba(0,0,0,0.85);
	                color:#ffffff;
	                font-size:18px;
	                font-family:Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	            }
	            #FooterRow i.fa,#FooterRow a
	            {
	                color:#ffffff;
	            }
	            #FooterRow a:hover i.fa,#FooterRow span:hover i.fa,#FooterRow address:hover i.fa
	            {
	                color:#ff0000;
	            }
	            #FooterRow a:hover
	            {
	                text-decoration:none;
	            }
	            #FooterRow h2
	            {
	                font-family:Monotype Corsiva;
	            }
	            #FooterRow h2 span
	            {
	                font-size:52px;
	                color:#ff0000;
	            }
	            #BtnSubscribeMailId
	            {
	                width:100%;
	                box-shadow:0px 0px 10px #ff0000;
	                background-color:#ffffff;
	                color:#000000;
	                transition:1s;
	                padding:10px 20px 10px 20px;
	                font-family:Monotype Corsiva;
	                border-radius:20px;
	            }
	            #BtnSubscribeMailId:hover
	            {
	                box-shadow:0px 0px 15px #ff0000;
	                text-decoration:none;
	                cursor:pointer;
	                font-size:22px;
	            }
	            #FooterRow2
	            {
	                padding:30px 10px 30px 10px;
	                background-color:#222222;
	                color:#ffffff;
	                text-align:center;
	                font-size:16px;
	                font-family:Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	            }
	            #FooterRow2 a
	            {
	                color:#ffffff;
	            }
	            #FooterRow2 a:hover
	            {
	                color:#ff0000;
	            }
	            @media (max-width:768px)
	            {
	                nav.navbar
	                {
	                     background-color:#ffffff;
	                }    
	                a.navbar-brand img
	                {
	                    margin-top:10px;
	                    height:70px;
	                    width:110px;
	                   
	                }
	                div.navbar-header
	                {
	                    height:70px;    
	                }
	                button.navbar-toggle
	                {
	                    margin-top:20px;
	                }
	                #HomeRow dl
	                {
	                    padding:10px;
	                }
	                .fullscreen_bg_video 
                    {
                        position:absolute;
                        left:-195%;
                        width: auto;
                        height: auto;
                        min-width: 295%;
	                    min-height: 100%;
	                }
	                #HomeRow p.MyPara b
	                {
	                    font-size:18px;
	                }
	                #HomeHeading
	                {
	                    font-size:22px;
	                }
	            }
	            @media (max-width:992px)
	            {
	                nav.navbar
	                {
	                    height:auto;
	                }
	                a.navbar-brand img
	                {
	                    margin-top:5px;
	                    height:60px;
	                    width:110px;
	                   
	                }
	            }
#UREF{background-image:url('../images/UserfulReferences.jpg');background-repeat:no-repeat;background-size:cover;}
#UREF .text-left dl dt{font-family:Trebuchet MS;font-size:16px;}
#UREF .text-left dl dd{margin-bottom:15px;}
#UREF .text-left dl dd a{padding-left:15px;}
#UREF div.row{background:rgba(255,255,255,0.5);padding-top:100px;padding-bottom:100px;}
